@import "./fonts";
@import "./normalize";
@import "./header";
@import "./main";
@import "./logos";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}




@media screen and (max-width: 962px){
    .container{
        max-width: 720px;
    }
}
@media screen and (max-width: 768px){
    .container{
        max-width: 960px;
    }
}
@media screen and (max-width: 576px){
    .container{
        max-width: 540px;
    }
}